

.plusBox {
  width: 75%;
  position: absolute;
  left: 110px;
  bottom: 50px;
  white-space: nowrap;
  overflow: hidden;
}

.plusBox_text {
  width: 100%;
  padding: 10px 40px;
  padding-left: 80px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(158, 137, 137);
  font-size: x-large;

}

.plusBox_text:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.plusBox_text:focus::placeholder {
  color: transparent;
}

.plusBox_button {
  position: absolute;
  left: 20px;
  border-radius: 25px;
  height: 4rem;
  width: 4rem;
  top: 2px;
  font-size: xx-large;
  font-weight: 600;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 177, 59);
}


@media screen and (max-width:767px){ 
  .plusBox {
    left: 4rem;
    bottom: 3rem;
  }
  .plusBox_text{
    font-size: large;
    padding: 1rem;
    padding-left: 5rem;
  }
  .plusBox_button{
    left: .5rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media screen and (max-width:411px){ 
  .plusBox {
    left: 4rem;
    bottom: 2rem;
  }
}