@import "../../components/border.css";
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "./PlusBox.css";

@import body {
  font-family: "Cafe24SsurroundAir";
}

.border {
  position: relative;
  padding-bottom: 80px;
}

.date {
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 30px;
  margin: 0px 100px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-image: linear-gradient(to right, #01c9ca 0%, #3886ff 100%);
  border-image-slice: 1;
}

.date div:first-child {
  font-size: xx-large;
  font-weight: 600;
}

.date div:nth-child(2) {
  font-size: large;
  color: tomato;
  margin-top: 10px;
  margin-bottom: 50px;
}

.date div:last-child {
  font-size: x-large;
  color: palevioletred;
  font-weight: 600;
}

.todo {
  margin: 10px;
  font-size: x-large;
}

.todo input {
  width: 50px;
  height: 20px;
}

.todoList {
  overflow: auto;
  height: 200px;
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 30px;
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  background: rgba(1, 1, 1, 0.05);
  border-radius: 25px;
  margin-bottom: 40px;
}

.todoList {
  -ms-overflow-style: none;
}
.todoList::-webkit-scrollbar {
  display: none;
}
