@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "./PlusBox.css";

.todo-body {
  background-repeat: no-repeat;
  font-family: "Cafe24SsurroundAir";
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #fff068, #fd746c);
}

.todo-border {
  position: relative;
  padding-bottom: 8rem;
  width: 70%;
  background-color: white;
  align-items: center;
  border-radius: 5rem;
  margin: 6rem 0;
}

.date {
  padding: 5rem 0 2rem 5rem;
  margin: 0 10rem;
  border-bottom: .1rem solid;
  border-image: linear-gradient(to right, #fd746c 0%, #ff9068 100%);
  border-image-slice: 1;
}

.date:first-child {
  font-size: xx-large;
  font-weight: 600;
}

.date div:last-child {
  margin-top: 2rem;
  font-size: x-large;
  color: palevioletred;
  font-weight: 600;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 2.5rem;
  margin: 0 5rem 2rem 1rem;
  font-size: x-large;
}

.todo input {
  width: 5rem;
  height: 2rem;
}

.todoList {
  overflow: auto;
  height: 38%;
  padding-bottom: 10rem;
  padding-top: 3rem;
  margin: 4rem 10rem;
  display: flex;
  flex-direction: column;
  background: rgba(1, 1, 1, 0.05);
  border-radius: 2.5rem;
  margin-bottom: 4rem;
}

.todoList {
  -ms-overflow-style: none;
}

.todoList::-webkit-scrollbar {
  display: none;
}

.important_check {
  display: flex;
  align-items: center;
  font-size: xx-large;
}


@media screen and (min-width:768px) and (max-width: 1024px) {
  /* Tablet */

  .plusBox {
    bottom: 6rem;
  
  }
}
@media screen and (max-width:767px){ 
  /* Mobile */
  .todo-body{
    height: 100vh;
  }
  .todo-border {
    width: 85%;
  }
  .todoList {
    margin: 2rem 3rem ;
    height: 60%;
  }
  .date:first-child {
    font-size: x-large;
  }  
  .date div:last-child {
    margin-top: 1rem;
    font-size: large;
  }
  .date {
    padding: 3rem 2rem 2rem 4rem;
    margin: 0;
  }

  .todo {
    margin: 0;
    padding: 1rem .5rem 1rem 0;
  }
  ul {
    padding: 0 .5rem;
    margin: 0;
  }
}

@media screen and (max-width:413px){ 
  .todoList {
    height: 55%;
  }
}
