@import "../../components/border.css";

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "./PlusBox.css";

body {
  width: 30vw;
  height: 100%;
  background-repeat: no-repeat;
  font-family: "Cafe24SsurroundAir";
}

.border {
  position: relative;
  padding-bottom: 80px;
}


.date {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin: 0px 100px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #fd746c 0%, #ff9068 100%);
  border-image-slice: 1;
}

.date:first-child {
  font-size: xx-large;
  font-weight: 600;
}

.date div:last-child {
  margin-top: 20px;
  font-size: x-large;
  color: palevioletred;
  font-weight: 600;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: x-large;
}

.todo input {
  width: 50px;
  height: 20px;
}

.todoList {
  overflow: auto;
  height: 200px;
  padding-bottom: 100px;
  padding-top: 30px;
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  background: rgba(1, 1, 1, 0.05);
  border-radius: 25px;
  margin-bottom: 40px;
}

.todoList {
  -ms-overflow-style: none;
}

.todoList::-webkit-scrollbar {
  display: none;
}

.important_check {
  display: flex;
  align-items: center;
  font-size: xx-large;
}