.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategrey;
}

@media screen and (max-width: 50rem) {
  /* Mobile */
  .container {
    width: 70rem;
  }
}
