.menu {
  font-family: "Cafe24SsurroundAir";
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
}
.title {
  background-color: rgb(233, 233, 233);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  height: 4rem;
  margin-bottom: 0.1rem;
}

.content_open {
  width: 60rem;
  word-break: keep-all;
  z-index: -1;
  height: 20rem;
  display: flex;
  align-items: center;
  padding: 7rem 2rem 2rem 2rem;
  background-color: rgb(233, 233, 233);
  transition: height 0.1s ease-out;
  overflow: auto;
}

.content_close {
  transition: height 0.1s ease-in-out;
  position: absolute;
  word-break: keep-all;
  width: 60rem;
  height: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: rgb(233, 233, 233);
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
.btn:hover {
  cursor: pointer;
  color: tomato;
}
