@value boardOrange from './colors.css';

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: boardOrange;
  font-size: 3rem;
  font-family: "Cafe24SsurroundAir";
  font-weight: 600;
  padding: 1.5rem 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  align-items: center;
}
.header span {
  padding-left: 1rem;
}
