.detail-section {
    display: flex;
    font-family: "Cafe24SsurroundAir";
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 12rem;
}

.detail-section > div:first-child{
    font-size: 3rem;
    padding-bottom: 3rem;
    font-weight: 800;
}

.detail-container {
    text-align: center;
}

.detail-row {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.detail-row > label{
    font-weight: 600;
    width: 13rem;
    text-align: left;
}

.detail-list-btn {
    margin: 0 .5rem;
    margin-top: 3rem;
    background-color: salmon;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-family: "Cafe24SsurroundAir";
}


.detail-list-btn:hover {
    background-color: tomato;
    cursor: pointer;
}

.post-delete-btn {
    margin: 0 .5rem;
    margin-top: 3rem;
    background-color: rgb(255, 183, 50);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-family: "Cafe24SsurroundAir";
}


.post-delete-btn:hover {
    background-color: orange;
    cursor: pointer;
}