@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

.home-body {
  height: 100vh;
  background: linear-gradient(to top, #fff068, #fd746c);
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-border {
  background-color: white;
  height: 30rem;
  margin: 5rem 0;
  border-radius: 5rem;
}

.introduce {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.menu {
  padding: .5rem 10rem;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  margin-left: -3rem;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  /* Tablet */
}
@media screen and (max-width:767px){ 
  /* Mobile */

  .home-border{
    height: 50rem;
  }
  .introduce{  
    padding-top: 8rem;
  }
}
